.product {
  flex: 4;
  padding: 20px;
  .productTitleContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .productAddBtn {
      width: 80px;
      padding: 5px;
      background-color: teal;
      color: white;
      font-size: 16px;
      cursor: pointer;
      border: none;
      outline: none;
      border-radius: 10px;
    }
  }
  .productTop {
    display: flex;
    .productTopLeft {
      flex: 1;
    }
    .productTopRight {
      -webkit-box-shadow: 0px 0px 15px -1px rgba(0, 0, 0, 0.75);
      box-shadow: 0px 0px 15px -1px rgba(0, 0, 0, 0.75);
      padding: 20px;
      margin: 20px;
      flex: 1;
      .productInfoTop {
        display: flex;
        align-items: center;
        .productInfoImg {
          width: 40px;
          height: 40px;
          margin-right: 20px;
          border-radius: 50%;
          object-fit: cover;
        }
        .productName {
          font-weight: 600;
        }
      }
      .productInfoBottom {
        margin: 10px;
        .productInfoItem {
          width: 100px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          .productInfoValue {
            font-weight: 300;
          }
        }
      }
    }
  }
  .productBottom {
    padding: 20px;
    margin: 20px;
    -webkit-box-shadow: 0px 0px 15px -1px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -1px rgba(0, 0, 0, 0.75);
    .productForm {
      display: flex;
      justify-content: space-between;
      .productFormLeft {
        display: flex;
        flex-direction: column;
        label {
          margin-bottom: 10px;
        }
        input {
          padding: 5px;
          margin-bottom: 10px;
          border: none;
          outline: none;
          border-bottom: 1px solid grey;
        }
        select {
          margin-bottom: 10px;
        }
      }
      .productFormRight {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        .productUpload {
          display: flex;
          align-items: center;
          justify-content: center;
          .productUploadImg {
            width: 100px;
            height: 100px;
            border-radius: 10px;
            object-fit: cover;
            margin-right: 10px;
          }
          label{
            cursor: pointer;
          }
        }
        .productBtnUpdate{
            background-color: darkblue;
            color: white;
            border: none;
            outline: none;
            border-radius: 10px;
            cursor: pointer;
            padding: 5px;
            font-weight: bold;
        }
      }
    }
  }
}
