.sidebar{
    flex: 1;
    height: calc(100vh - 50px);
    position: static;
    top: 0;
    background-color: whitesmoke;
    .sidebarWrapper{
        padding: 20px;
        .sidebarMenu{
            margin-bottom: 10px;
            .sidebarTitle{
                font-size: 13px;
                color: rgb(187, 186, 186);
            }
            .sidebarList{
                list-style: none;
                padding: 5px;
                .sidebarListItem{
                    padding: 0 5px;
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    border-radius: 10px;
                    .sidebarIcon{
                        margin: 5px;
                        font-size: 20px !important;
                    }
                    &:hover,&.active{
                        background-color: rgb(225, 225, 250);
                    }
                }
            }
        }
    }
}